In [1]:
def times2(var):
    return var*2

In [2]:
times2(5)

10

In [3]:
#or we can write lambda experission

In [4]:
t = lambda var:var*2

In [5]:
t(5)

10

In [6]:
#map

In [7]:
seq =[1,2,3,4,5]

In [8]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [9]:
#or
list(map(lambda num: num*3,seq))

[3, 6, 9, 12, 15]

In [12]:
list(filter(lambda num: num%2 == 0, seq))

[2, 4]

In [13]:
s = 'hello my name is Sam'

In [14]:
s.lower()

'hello my name is sam'

In [15]:
s.upper()

'HELLO MY NAME IS SAM'

In [16]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [17]:
tweet = 'Go Sports! #Sports'

In [19]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [20]:
d = {'k1': 1, 'k2':2}

In [21]:
d

{'k1': 1, 'k2': 2}

In [22]:
d.keys()

dict_keys(['k1', 'k2'])

In [23]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [24]:
d.values()

dict_values([1, 2])

In [25]:
lst = [1,2,3]

In [26]:
lst.pop()

3

In [27]:
lst

[1, 2]

In [28]:
lst.pop()

2

In [29]:
lst

[1]

In [31]:
lst =[1,2,3,4,5]
item = lst.pop()

In [32]:
lst

[1, 2, 3, 4]

In [33]:
item

5

In [34]:
first = lst.pop(0)

In [35]:
first

1

In [36]:
lst

[2, 3, 4]

In [37]:
lst.append('new')

In [38]:
lst

[2, 3, 4, 'new']

In [39]:
'x' in [1,2,3]

False

In [40]:
'x' in ['x','y','z']

True

In [41]:
x = [(1,2),(3,4),(5,6)]

In [42]:
x

[(1, 2), (3, 4), (5, 6)]

In [45]:
for (a,b) in x:
    print(a)
    print(b)

1
2
3
4
5
6